@font-face
  font-family 'icomoon'
  src:url('../fonts/icomoon.eot?fldw62');
  src:url('../fonts/icomoon.eot?#iefixfldw62') format('embedded-opentype'),
    url('../fonts/icomoon.woff?fldw62') format('woff'),
    url('../fonts/icomoon.ttf?fldw62') format('truetype'),
    url('../fonts/icomoon.svg?fldw62#icomoon') format('svg');
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-pencil
  &:before
    content "\e600"

.icon-file
  &:before 
    content "\e60b"

.icon-file
  &:before
    content "\e601"

.icon-stack
  &:before 
    content: "\e60c"

.icon-download
  &:before
    content "\e602"

.icon-upload
  &:before
    content "\e603"

.icon-eye
  &:before 
    content: "\e609"

.icon-close
  &:before
    content "\e604"

.icon-checkmark
  &:before
    content "\e605"

.icon-enter
  &:before
    content "\e606"

.icon-exit
  &:before 
    content: "\e60a"

.icon-mail
  &:before
    content "\e607"

.icon-delicious
  &:before 
    content "\e60d"

.icon-settings
  &:before
    content "\e608"

a
  text-decoration none
  color #000

p
  margin 0
  padding 0

.p_header
  padding-left 20px
  font-size 18px
  font-weight normal
  color #00517A
  padding-top 0px
  margin-top 0px

.h1_header
  font-family: 'MovistarHeadlineBold'
  padding-left 20px
  font-size 25px
  font-weight normal
  color #00517A
  padding-top 20px
  margin-bottom 0px
  padding-bottom 0px
  vertical-align text-bottom

.bienvenida
  position absolute
  top 0
  right 80px
  color #00A5BD
  font-weight bold
  
  a
    color #00A5BD
    font-weight bold
    padding-left 10px
    display inline-block

#ventana
  font-size small

  table
    td 
      font-size small
      color #00517A

.block_center
  display block
  margin 0 auto
  width 70px

.block_right
  display inline-block
  float right

#detalles_factura
  font-size small
  width 95%
  padding 0px
  margin 0 auto

  ul
    float left
    margin 0px
    padding 0px

    li
      list-style none
      padding 4px 9px
      &.title
        font-weight bold
        background #00517a
        border-top 1px solid #fff
        color #fff
      &.title2
        font-weight bold
        background #015A86cho
        color #fff
      &.uno
        background #FFF
      &.dos
        background #FFEEE6

.botones_envio
  display inline-block

#filtro_fac1
  width 100%

.botones_envio
  float right

  .font_finalizar
    display block

#ver_folio
  font-size small

  p 
    margin 0
    padding 0

.agregar_observacion
  background url(../images/botonbgcenter.fw.png) top repeat-x
  background url(../images/botonbgleft.fw.png) left top no-repeat, url(../images/botonbgright.fw.png) right top no-repeat, url(../images/botonbgcenter.fw.png) center top repeat-x
  height 20px
  border 0px
  padding 2px 8px 2px 8px
  color #fff
  text-align center

.botones
  display block
  width 150px
  margin-top 30px

.font_finalizar
  float right
  margin-top 10px

.block
  display inline-block
  margin-right 20px
  margin-bottom 10px

.right
  float right

.ventana_ocultar
  display none

#agregar_registro
  display block

.formulario_n
  margin 0 auto
  background-color #fff
  border-collapse collapse
  font-size small
  position relative
  width 100%

  .column 
    width 32%
    padding 2px 6px
    float left

    label
      display block
      width 140px
      float left
      margin-top 5px  

    p
      display block
      width 140px
      height 14px
      float left
      margin-top 3px
      padding 5px  

      input
        display block
        margin-top -10px
        margin-left -3px

  .bottom
    margin-top 64px
  
  .bottom_nc
    margin-top 30px

  #detalles_factura
    clear left
    max-width 920px
    margin 0 auto
    padding 2px

    table td
      text-align center

    .deta_factura li
      display inline-block
      width 120px
      min-height 20px
      background #00517a
      color #fff
      text-align center
      padding 2px
      margin 0
      border-top .5px solid #fff

    .deta_factura_all li
      display inline-block
      width 120px
      min-height 20px
      background #00517a
      color #fff
      text-align center
      padding 0
      margin 0
      border-top .5px solid #fff

      .botones
        display block
        width 100px
        height 20px
        margin 10px 0

.sol_oculto
  display none

.ancho_descripcion
  width-max 400px

.boton_envio
  display block
  margin-top 10px
  height 30px
  width 100% 
  text-align center

.datos_informacion
  position relative

  .datos_totales
    width 300px
    background #00517A
    padding 0 2px
    margin 2px
    border-radius 5px
    display inline-block

    p
      color #fff
      border-bottom 1px solid #fff
      position relative
      border-radius 2px

      span
        position absolute
        right 0
  .right
    right 0

.espacio
  margin 0 10px

.detalle_historial
  font-size small
  width 100%
  padding 0px
  
  .ancho_historial
    width 300px

  ul
    float left
    margin 0px
    padding 0px
    li
      list-style none
      padding 4px 9px
      &.title
        font-weight bold
        background #00517a
        border-top 1px solid #fff
        color #fff
      &.title2
        font-weight bold
        background #015A86
        color #fff
      &.uno
        background #FFF
      &.dos
        background #FFEEE6

.funciones_operador
  width 100%
  position relative
  margin-top 10px

  div
    width 280px
    display inline-block
    text-align center
    vertical-align middle
    
.verde
  color #4CB800

.azul
  color #0B8CFF